<html>
<body>
<footer>
    <div class="meetingFooter">
        <div class="container">
            <!-- <h1>映目活动</h1> -->
            <!-- <div class="icon-box"> -->
                <svg class="icon activity-icon" aria-hidden="true">
                    <use xlink:href="#icon-yingmuhuodong"></use>
                </svg>
            <!-- </div> -->
            <p class="tel">免费服务热线 400-616-1905</p>
            <p class="bottom">Copyright © 2013-2018 版权所有 北京韦尔科技有限公司 京ICP备14040981号-2
            </p>
        </div>
    </div>
</footer>
<script src="//at.alicdn.com/t/font_454996_u4ngocndblp.js"></script>
<script type="text/javascript" src="/mobile_static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/mobile_static/js/dropload.min.js"></script>
<script type="text/javascript" src="/mobile_static/js/swiper-3.3.1.min.js"></script>
<!--<script type="text/javascript" src="/mobile_static/js/main.min.js"></script>-->


 <script type="text/javascript" src="/mobile_static/js/main.js"></script>
</body>

</html>
