<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title th:text="${title}">映目活动</title>
        <meta name="keywords" content="活动，活动管理，举办活动，发布活动，活动推广，活动报名，推广活动，活动售票，二维码验票，一站式活动，会议站" />
        <meta name="description" content="映目活动——一站式活动平台，让您轻松体验集活动创建、发布、管理、电子售票、检票、自定义流程和活动统计等优质服务。" />
        <link rel="shortcut icon" href="/mobile_static/favicon.ICO" type="image/x-icon"/>
        <link href="/mobile_static/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="/mobile_static/css/dropload.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/mobile_static/css/animate.css"/>
        <link rel="stylesheet" type="text/css" href="/mobile_static/css/swiper-3.3.1.min.css"/>
        <link rel="stylesheet" type="text/css" href="/mobile_static/css/main.min.css" />
    </head>
</html>
