<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>会议站验票公众号</title>
  <link rel="stylesheet" type="text/css" href="style/reset.css" />
  <link rel="stylesheet" type="text/css" href="style/inspect_ticket.css" />
</head>
<body>
  <div class="mainContainer">
    <p class="text">二维码/验票号用于现场验票，请携带至会场</p>
    <div class="ticketWrapper">
      <div class="activity">
        <div class="content">
          <h1 class="title">2017年中国国际节能与新能源展览会</h1>
          <p class="time">2018.01.21 10:00 ~ 2018.01.22 16:00</p>
          <p class="address">北京市朝阳区奥运村国家会议中心</p>
        </div>
        <div class="hole-block-top"></div>
        <div class="hole hole-bottom-r"></div>
        <div class="hole hole-bottom-l"></div>
      </div>
      <!-- <div class="ticket border-1px-t">
        <div class="content">
          <h1 class="title">免费门票</h1>
          <div class="QRCode">
            <img width=100% height=100% src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=fa9140accd95d143ce7bec711299e967/2934349b033b5bb571dc8c5133d3d539b600bc12.jpg">
          </div>
          <p class="code border-1px-b-dotted">234412</p>
          <div class="ticketMsg">
            <p class="name">姓名<span>路飞飞</span></p>
            <p class="price">票价<span>￥0</span></p>
          </div>
        </div>
        <div class="hole hole-top-r"></div>
        <div class="hole hole-top-l"></div>
        <div class="hole hole-bottom-r"></div>
        <div class="hole hole-bottom-l"></div>
      </div> -->
      <div class="ticket border-1px-t">
        <div class="content">
          <h1 class="title">免费门票</h1>
          <div class="QRCode">
            <img width=100% height=100% src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=fa9140accd95d143ce7bec711299e967/2934349b033b5bb571dc8c5133d3d539b600bc12.jpg">
          </div>
          <p class="code border-1px-b-dotted">234412</p>
          <div class="ticketMsg">
            <p class="name">姓名<span>路飞飞</span></p>
            <p class="price">票价<span>￥0</span></p>
          </div>
        </div>
        <div class="hole hole-top-r"></div>
        <div class="hole hole-top-l"></div>
        <div class="hole-block-bottom"></div>
      </div>
    </div>
    <p class="text">该票务由映目活动提供</p>
  </div>
</body>
</html>
