<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="utf-8">
  <title>管理平台-映目活动</title>
  <meta content="活动，活动管理，举办活动，发布活动，活动推广，活动报名，推广活动，活动售票，二维码验票，一站式活动，会议站" name="keywords" />
  <meta content="映目活动——一站式活动平台，让您轻松体验集活动创建、发布、管理、电子售票、检票、自定义流程和活动统计等优质服务。" name="description" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="shortcut icon" href="/pc_static/favicon.ICO" type="image/x-icon"/>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_368760_j5no6rszdkc07ldi.css" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_454996_fqp7h05aaiyeqaor.css" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_454996_u4ngocndblp.css" />
  <script src="//at.alicdn.com/t/font_454996_m5tv22aqaxgycik9.js"></script>
</head>

<body>
  <div id="app" v-cloak="v-cloak"></div>
<script type="text/javascript" src="http://cdn.ourwill.cn/huiyi/admin/manifest.39db7fc409e680aa9c91.js"></script><script type="text/javascript" src="http://cdn.ourwill.cn/huiyi/admin/index.39db7fc409e680aa9c91.js"></script></body>
</html>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?9d32ee3ee859a547e4ef0db03e48fd8f";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
