<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header">
        <meta charset="UTF-8"/>
        <meta HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
        <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache"/>
        <meta HTTP-EQUIV="Expires" CONTENT="0"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title th:text="${title}">映目活动</title>
        <meta name="keywords" content="活动，活动管理，举办活动，发布活动，活动推广，活动报名，推广活动，活动售票，二维码验票，一站式活动，会议站" />
        <meta name="description" content="映目活动——一站式活动平台，让您轻松体验集活动创建、发布、管理、电子售票、检票、自定义流程和活动统计等优质服务。" />
        <link rel="shortcut icon" href="/pc_static/favicon.ICO" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/pc_static/css/lib/reset.css"/>
        <link rel="stylesheet" type="text/css" href="/pc_static/css/lib/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/pc_static/css/lib/swiper-3.3.1.min.css"/>
        <link rel="stylesheet" type="text/css" href="/pc_static/css/style.min.css"/>
    </head>
</html>